body {
  padding: 0;
  margin: 0;
  font-family: arial;
  text-decoration: none;
}
body header {
  background: url('../img/background1.jpg');
  background-size: cover;
  padding: 10px;
}
body header .global {
  width: 1100px;
  margin: 0 auto;
}
body header .global h1 {
  font-weight: 700;
  color: #4c924c;
}
body header .global h2 {
  color: white;
  font-size: 17px;
  font-style: italic;
}
body nav {
  background-color: #4c924c;
}
body nav .global {
  width: 1100px;
  margin: 0 auto;
}
body nav .global ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
body nav .global ul li {
  border: 1px solid green;
  width: 25%;
}
body nav .global ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body nav .global ul li a:hover {
  text-decoration: underline;
}
body section {
  background-color: #4d4d4d;
}
body section .global {
  display: block;
  width: 1100px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
body section .global h3 {
  text-align: left;
  color: #4c924c;
}
body section .global p {
  text-align: left;
  color: white;
}
body section .global #images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
body section .global #images img {
  border: 2px solid white;
  width: 45%;
  margin-bottom: 10px;
  height: 300px;
}
body footer {
  text-align: center;
  padding: 1px;
  background: black;
  font-weight: bold;
  color: white;
}
