body {
  padding: 0;
  margin: 0;
  font-family: arial;
  text-decoration: none;
}
body header {
  background: url('../img/background1.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
}
body header .global {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
body header .global h1 {
  font-weight: 700;
  color: #cc8400;
  align-self: center;
}
body header .global h2 {
  color: white;
  font-size: 17px;
  font-style: italic;
  align-self: center;
}
body nav {
  background-color: #cc8400;
}
body nav .global {
  width: 1100px;
  margin: 0 auto;
}
body nav .global ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
body nav .global ul li {
  border-right: 1px solid orange;
  width: 25%;
  text-align: center;
}
body nav .global ul li:first-child {
  border-left: 1px solid orange;
}
body nav .global ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body nav .global ul li a:hover {
  background-color: orange;
}
body section {
  background-color: #4d4d4d;
}
body section .global {
  display: block;
  width: 1100px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
body section .global h3 {
  text-align: left;
  color: #cc8400;
}
body section .global p {
  text-align: left;
  color: white;
}
body section .global #images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
body section .global #images div {
  width: 22%;
  margin: 10px;
  background-color: black;
  padding: 5px;
  border-radius: 0px 0px 6px 6px;
}
body section .global #images div img {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 6px 6px;
}
body section .global #images div h4 {
  margin: 0;
  font-size: 14px;
  color: #cc8400;
  font-weight: bold;
}
body section .global #images div p {
  font-size: 13px;
  padding: 8px;
}
body footer {
  text-align: center;
  padding: 1px;
  background: black;
  font-weight: bold;
  color: white;
}
