body {
  padding: 0;
  margin: 0;
  font-family: arial;
  text-decoration: none;
}
body header {
  background: #D3D3D3;
  text-align: center;
  padding: 10px;
}
body header h1 {
  font-weight: 700;
}
body header h2 {
  color: gray;
  font-size: 18px;
  font-style: italic;
}
body nav {
  border: 1px solid black;
}
body nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
body nav ul a {
  text-decoration: none;
  color: black;
}
body nav ul a:hover {
  text-decoration: underline;
}
body section {
  display: flex;
  width: 100%;
}
body section aside {
  width: 10%;
  background: darkgray;
}
body section section {
  display: block;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
body section section h3 {
  text-align: left;
}
body section section p {
  text-align: left;
}
body section section img {
  width: 30vw;
}
body footer {
  text-align: center;
  padding: 1px;
  background: black;
  font-weight: bold;
  color: white;
}
