body {
	padding: 0;
	margin: 0;
	font-family: arial;
	text-decoration: none;

	header {
		background: url('../img/background1.jpg');
		background-size: cover;
		padding: 10px;
		#global {
			width: 1100px;
			margin: 0 auto;
			h1 {
				font-weight: 700;
				color: #4c924c;
			}
			h2 {
				color: white;
				font-size: 18px;
				font-style: italic;
			}
		}
	}

	nav {
		border: 1px solid black;
		ul {
			list-style-type: none;
			display: flex;
			justify-content: space-around;
			a {
				text-decoration: none;
				color: black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	section {
		display: flex;
		width: 100%;
		aside {
			width: 10%;
			background: darkgray;
		}
		section {
			display: block;
			width: 80%;
			padding: 10px;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
			h3 {
				text-align: left;
			}
			p {
				text-align: left;
			}
			img {
				width: 30vw;
			}
		}
	}

	footer {
		text-align: center;
		padding: 1px;
		background: black;
		font-weight: bold;
		color: white;
	}
}